@import url(https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);

*{
    box-sizing: border-box;
} /*gives every element these ITS THE SOURCE OF EVERY TROUBLE DONT PUT ANYTHING HERE*/

html{
    scroll-behavior: smooth;
}

body{
    background-color:rgb(250, 227, 218);
    font-family: roboto mono;
} /*only the body*/

header{
    display: flex;
    margin: 5%;
    justify-content: space-between;
    align-items: center;
}

.user{
    border:0.2rem solid rgb(139, 0, 0);;
    border-radius: 10%;
    padding: 1% 3%;
    display: flex;
    gap: 3vw;
}

.user a{
    color: rgb(139, 0, 0);
}

.user a:hover{
    transform: scale(1.5,1.5);
}

nav{
    display: none;
    gap:5vw;
    transition:width 0.6s linear;
    width: 100%;
    font-size: 1.5vw;
    position: relative;
    z-index: 5;
}

nav a{
    color:rgb(139, 0, 0);
}

nav a:hover{
    color:blueviolet;
    transform: scale(1.1);
}

nav.active {
    display:flex;
    justify-content: flex-end;
    margin-right: 5%;
}

@media (max-width:650px){
    nav.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.8);
        /*the fourth number is opacity*/
    }

    nav.active a{
        color: white;
        font-size: 3vw;
        border-bottom: 1px solid red;
    }
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.intro {
    display: flex;
    justify-content: center;
    position: relative;
    margin:5%;
    z-index: 10; /*z-index only works on positioned elements so always set it*/
    background-color: transparent;
    flex-shrink:0;
    transition: 0.5s ease;
}

.intro .icon{
    border-radius: 50%;
    height:30vh;
    width:30vh;
    flex-shrink: 0;
    box-shadow: 0 0 5vh rgb(89, 0, 0);
    transform: translateX(-15vw);
}

.bg{
    position: absolute;
    object-fit: cover;
    width: 90%;
    height: 50vh;
    z-index: 1;
    border-radius: 1%;
}

.text{
    white-space: nowrap;
    /*nowrap means yeah no wrap, normally will wrap when necessary (normal), pre = wrap on line breaks*/
    text-shadow: 0 0 0.8vh black;
    /*text-shadow pattern is horizontal vertical blur color*/
    font-family: Audiowide;
    color: white;
    position: absolute;
    transform: translateX(20vw);
    min-width: 15ch;
    font-size: large;
} 

.text span::before{
    content:"";
    animation:words 10s infinite;
}

@media (min-width:1000px){
    .intro .icon, .intro .text{
        transform:none;
        position: relative;
    }
    .intro{
        position:relative;
        display: flex;
        justify-content: center;
        gap:20%;
    }
}

@media (max-width:650px){
    .intro{
        flex-direction: column;
        align-items: center;
        gap: 5%;
    }

    .intro .icon{
        transform: none;
        position: relative;
    }

    .text{
        position: relative;
        transform: none;
        text-align: center;
    }

    .bg{
        height:70vh;
    }
}

@keyframes words{
    0%,20% {
        content:"Writer";
    }
    21%,40%{
        content:"Businessowner";
    }
    41%,60%{
        content:"Web Developer";
    }
    61%,80%{
        content:"Bookkeeper";
    }
    81%,100%{
        content:"Content Creator";
    }
}

.social{
    margin-top:10%;
}

.social a{
    display: inline-flex;
    margin: 5%;
    transform-origin: center center;
    transition: transform 0.5s ease;
}

.social a:hover{
    transform:scale(1.5) translateY(-0.5vh);
    cursor:pointer;
}

.languages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10%;
    padding: 0;
    margin-left: -15%;
    width:100%;
}

.languages img{
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    transition: 0.5s ease;
}

.languages .js{
    width:70%;
    margin-left: 15%;
}

.languages img:hover{
    transform: scale(1.2);
}

.box h1{
    font-size: 1.5vw;
    margin-bottom: 10%;
    white-space: nowrap;
}

@media (max-width:650px){
    .box h1{
        font-size: 2vw;
    }
}

.box h1 span{
    background: linear-gradient(to right, #ff7e5f, #fe937b,#ff7e5f);
    padding: 0.5%;
}

.intro2{
    display: flex;
    justify-content: center;
    gap:5%;
    margin-top:-6%;
    box-sizing: border-box;
}

@media (max-width:500px){
    .intro2{
        display: none; 
    }
}

@media (min-width:501px) and (max-width:650px){
    .intro2{
        margin-top: -8%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 8%;
        gap:10%;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:651px) and (max-width:999px){
    .intro2{
        margin-top: 0%;
        gap:0%;
    }
}

@media(min-width:1000px) and (max-width:1300px){
    .intro2{
        margin-top:-3%;
        gap:0%;
    }
}

.box{
    padding:10%;
    width:30%;
    flex: 1;
    box-sizing: border-box;
}

@media (max-width:650px){
    .box{
        padding: 0%;
        margin-left: 5%;
        margin-top: 10%;
    }
}

.knowledge{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:35%;
    width:100%;
}

.knowledge img{
    width: 200%;
    height: auto;
    cursor: pointer;
    transition: 0.5s ease;
}

.knowledge img:hover{
    transform: scale(1.2);
}

.knowledge .acca{
    border-radius: 10%;
    width:130%;
}

.knowledge .sheets{
    width:100%;
    margin-top: -2%;
}

.building{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:30%;
    width:50%;
    margin-left: -5%;
}

.building img{
    width:250%;
    cursor: pointer;
    transition:0.5s ease;
}

.building img:hover{
    transform:scale(1.2);
}

.divider1{
    width:90vw;
    display: block;
    margin: -6% auto;
}

@media (max-width:500px){
    .divider1{
        margin-top: 5%;
    }
}

.explain{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    gap:10%;
}

.surtr{
    position: absolute;
    z-index: 10;
    left:0;
    margin-top: -5%;
    width:28%;
}

.bg2{
    width:30%;
    height: 99%;
}

.explaintext{
    flex:1;
}

.explaintext h1{
    font-size: 5vw;
    font-family: Audiowide;
    background:linear-gradient(to bottom,rgb(76, 0, 0),rgb(253, 126, 126));
    background-clip: text; /*this is the official syntax but for some reason browsers want -webkit prefix :D*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explaintext h3{
    font-size: 1.8vw;
    color:rgb(76,0,0);
}

@media (max-width:650px){
    .explain{
        gap: 8%;
        margin-right: 8%;
    }

    .surtr{
        width:50%;
    }

    .bg2{
        width:56%;
    }

    .explaintext h1{
        font-size: 4.5vw;
    }

    .explaintext h3{
        font-size: 2vw;
    }
}

.divider2{
    width:90%;
    display: flex;
    justify-content: center;
    margin:2% 5%;
}

.exp{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.exp h1{
    font-size: 3vw;
    font-family: Audiowide;
    background:linear-gradient(to bottom,rgb(76, 0, 0),rgb(194, 0, 0));
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exp h3{
    font-size: 1.3vw;
    color:rgb(76,0,0);
}

.education{
    width:50%;
    margin-left: 7%;
}

.education h3{
    margin-bottom: 0%;
}

.educationtext, .experiencetext {
    display: flex;
}

.educationtime, .experiencetime{
    width:25%;
}

.educationexp, .experienceexp {
    width:50%;
}

.educationexp h3{
    font-size: 1.3vw;
    margin-left: 0%;
    white-space: nowrap;
}

.educationexp li{
    font-size: 1vw;
    margin-left: -10%;
    color:rgb(51, 0, 0);
}

.pcu{
    margin-top: 0%;
    width:70%;
}

.field{
    width:50%;
}

.experiencetime .pcu{
    margin-top: -15%;
}

.experienceexp h4{
    font-size: 1vw;
    color:rgb(91, 91, 91);
    margin-top:-3%;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  transition: width 0.5s ease;
}

.bar1 {
    margin-top: 2%;
    width: 80%;
    height:2%;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
}

.bart1, .bart2, .bart3{
    height:100%;
    width:5%;
    background: linear-gradient(to right,rgb(254, 116, 62),rgb(255, 161, 85));
    border-radius: 10px;
    transition: 0.5s ease;
}

@media(min-width:1200px){
    .bart1:hover{
        width:90%;
    }

    .bart2:hover{
        width:83%;
    }

    .bart3:hover{
        width:27%;
    }
}

@media (max-width:1199px){
    .bart1{
        width:90%;
    }
    .bart2{
        width:83%;
    }
    .bart3{
        width: 27%;
    }
}

@media (max-width:650px){
    
    .education h3{
        font-size: 1.5vw;
        white-space: nowrap;
    }
    
    .educationexp h3{
        font-size: 1.5vw;
        margin-left: 20%;
        white-space: normal;
    }

    .educationexp li{
        font-size: 1.5vw;
    }

    .experiencetime h3{
        font-size: 1.5vw;
        white-space: nowrap;
    }

    .experienceexp h3{
        font-size: 1.5vw;
        margin-left: 10%;
    }

    .experienceexp h4{
        font-size: 1.3vw;
        margin-left: 10%;
    }
}

@media (max-width:500px){
    .educationexp li{
        margin-left: -25%;
    }
    .educationexp h3{
        margin-bottom: -10%;
    }
}

.divider3{
    width:90%;
    margin:10% 5%;
}

#project {
    margin: -10% 0%;
    display: flex;
    flex-direction: column;
}

#project h1{
    text-align: center;
    font-size: 3.5vw;
    font-family: Audiowide;
    background:linear-gradient(to bottom,rgb(76, 0, 0),rgb(194, 0, 0));
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    width: 50%;
    background-color: white;
    border-radius: 1%;
    border: 1px solid black;
    display: none;
}

.card-header{
    display: flex;
    align-items: center;
    padding: 0% 2%;
    border: 1px solid black;
    font-size: 0.8vw;
    background-color: rgb(245, 245, 245);
}

.card-header h3{
    margin-left: 20%;
}

.card-header a{
    margin: 0% 2%;
    height:200%;
}

.card img{
    width:100%;
    height: auto;
    display: block;
}

.card-body{
    border-top: 1px solid black;
    padding-left: 4%;
}

.card-body h2{
    font-size: 1.5vw;
}

.card-body p{
    font-size: 1vw;
}

.left, .right{
    margin-top: -1%;
    width: 7%;
    height:30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    transition: 0.5s ease;
}

.left:hover, .right:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.slider{
    display: flex;
    justify-content: center;
}

@media (max-width:650px){
    .card{
        width:75%;
    }

    .left, .right{
        width:5%;
        margin-left:5%;
        margin-right: 5%;
        margin-top: 20%;
    }

    .card-header {
        font-size: 1.2vw;
    }

    .card-body h2{
        font-size: 2vw;
    }

    .card-body p{
        font-size: 1.7vw;
    }
}

.divider4{
    width:90%;
    margin:15% 5%;
}

#cookie{
    display: flex;
    flex-direction: column;
    width:20%;
    margin-left: 35%;
    margin-top: -13%;
}

#cookie h1{
    text-align: center;
    white-space: nowrap;
    font-size: 3vw;
    color: rgb(98, 0, 0);
}

#cookie img{
    margin-left: 20%;
}

.active{
    display: block;
}

body.nav-open {
  overflow: hidden;
}